* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica',Arial, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(243, 132, 150);
    padding-top: 80px;
}

header {
    display: flex;
    background-color: #000000;
    height: 80px;
    color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c5c0c0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nexora_home {
    height: 45px;
}

.logo_container {
    margin-left: 4%;
}

.action_bar {
 margin-right: 4%;
}

.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_bar a:hover {
    color: rgb(22, 145, 194);

}

.nav_bar a sup {
    color: skyblue;
    font-size: 10px;
}

.search_bar {
 height: 40px;
 min-width: 200px;
 width: 30%;
 display: flex;
 align-items: center;
}

.search_icon {
    color: white;
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    font-weight: 300;
    background-color: rgb(9, 14, 27);
}

.search_input {
    color: rgb(255, 251, 251);
    background-color: rgb(9, 14, 27);
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
   
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-around;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-image {
    width: 100%;
    height: 20%;
}

.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15rem;
    font-size: 1.8em;
    margin: 50px 0 10px 20px;
    max-height: 5em;
    font-weight: 700;
}

.category_item {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}

.sale_item {
 width: 250px;
}

.footer-container {
    padding: 30px 0px 40px 0px;
    background: #1f2020;
    display: flex;
    justify-content: space-evenly;
} 

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

.footer-column a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: rgb(9, 14, 27);
    text-align: center;
    padding: 15px;
}